/* Add these styles to your global CSS */
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* For webkit browsers (Safari, Chrome) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 0.5;
  color: white;
}
